<!DOCTYPE html>
<html>
  <head>
    <title>:: {{ site.name }} ::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/syntax.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!--[if lt IE 0]>
      <script src="js/html5shiv.js"></script>
      <script src-"js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="container">
      <section>
        <header id="sidebar">
        <h1 id="title"><a href="/">{{ site.name }}</a></h1>
          <ul>
            <li><a href="http://github.com/80vs90">GITHUB</a></li>
            <li><a href="mailto:nrubin@wildcats.unh.edu">CONTACT</a></li>
            <li><a href="/feed.xml">RSS</a></li>
          </ul>
          <footer>
            <span>&copy2014 Nate Rubin.</span>
          </footer>
        </header>
        {{ content }}  
      </section>
      <footer>
        <h1>Phases of the Circular Driveway</h1>
        <ul>
          <li><a href="http://github.com/80vs90">GITHUB</a></li>
          <li><a href="mailto:nrubin@wildcats.unh.edu">CONTACT</a></li>
          <li><a href="/feed.xml">RSS</a></li>
        </ul>
        <footer class="copyright">
          <span>&copy2014 Nate Rubin.</span>
        </footer>
      </footer>
    </div>
  </body>
</html>
